
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

.photoset{
  text-align: center;
}

.photoset-title{
  text-align: center;
  margin-bottom: 30px;
  font-size: 24px;
  color: #5D5D5D;
}

.square{
  display: inline-block;
  margin: 10px;
  background-size: cover;
  background-position: center center;
}

.square:hover{
  opacity: 0.9;
}

@media (min-width: 935px){
  .square {
    width: 275px;
    height: 275px;
  }
}

@media (max-width: 935px){
  .photoset a{
  	position: relative;
    display: inline-block;
  	width: 33%;		/* desired width */
  }

  .photoset a:before{
    content: "";
    display: block;
    padding-top: 100%; 	/* initial ratio of 1:1*/
  }

  .square {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

@media (max-width: 650px){
  .square {
    margin: 2px;
  }
}

.middle {
  max-width: 935px;
  margin: 0 auto 100px;
}

.overlay{
  background-color: black;
  opacity: 0.75;
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
}

.disable-scrolling {
  overflow: hidden;
}

.lightbox-img{
  position: fixed;
  max-width: calc(100% - 150px);
  max-height: calc(100% - 160px);
  width: auto;
  height: auto;
  margin:auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
  display: none;
}

.right-arrow, .left-arrow{
  position: fixed;
  display: none;
}

.right-arrow img, .left-arrow img{
  width: 20px;
  height: 40px;
}

@media (min-width: 736px){

  .lightbox-img{
    max-width: calc(100% - 150px);
    max-height: calc(100% - 160px);
  }

  .right-arrow{
    top: 50%;
    right: 20px;
  }

  .left-arrow{
    top: 50%;
    left: 20px;
  }

  .middle {
    box-sizing: content-box;
    padding: 40px 20px 0;
    width: calc(100% - 30px);
  }

  .well{
    max-width: 600px;
  }
}

@media (max-width: 736px){

  .lightbox-img{
    max-width: calc(100% - 10px);
    max-height: calc(100% - 160px);
  }

  .right-arrow{
    bottom: 20px;
    right: 20px;
  }

  .left-arrow{
    bottom: 20px;
    left: 20px;
  }

  .photo-title{
    left: 60px;
  }

}

.close-btn{
  position: fixed;
  top: 20px;
  right: 20px;
  display: none;
}

.close-btn img{
  width: 20px;
  height: 20px;
}

.addmore-btn{
  padding: 10px 20px;
  background-color: #EF9E9E;
  border: 1px solid;
  border-radius: 3px;
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.addmore-container{
  display: block;
  margin-top: 50px;
  text-align: center;
}

.topbar{
  height: 50px;
  width: 100%;

  background: #EF9E9E;
  background: -webkit-linear-gradient(left, #EF9E9E , #92B3E7);
  background: -o-linear-gradient(right, #EF9E9E, #92B3E7);
  background: -moz-linear-gradient(right, #EF9E9E, #92B3E7);
  background: linear-gradient(to right, #EF9E9E , #92B3E7);
}

.jumbotron{
  width: calc(100% - 60px);
  max-width: 850px;
  margin: 0 auto 30px;
}

.title{
  color: #5D5D5D;
  font-weight: 100;
  margin-bottom: 0px;
  margin-left: 80px;
}

.title-container{
  margin-top: 75px;
}

.description{
  color: #5D5D5D;
  font-size: 14px;
  margin-top: 5px;
  margin-left: 80px;
}

.star-img{
  float: left;
}

.well{
  margin: 150px auto 75px;
  background-color: #F4F4F4;
  border: 1px solid #E6E6E6;
  border-radius: 3px;
  padding: 10px;
}

.well p {
  font-size: 12px;
  color: #9F9E9E;
  margin: 3px 0 3px 10px;
}

.divider{
  height: 2px;
  width: 100%;

  background: #EF9E9E; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #EF9E9E , #92B3E7); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #EF9E9E, #92B3E7); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #EF9E9E, #92B3E7); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #EF9E9E , #92B3E7); /* Standard syntax */
}

.header{
  margin-bottom: 30px;
}

.photo-title{
  display: none;
  position: fixed;
  bottom: 30px;
  color: #ffffff;
  text-align: center;
  left: 0;
  right: 0;
  margin: 0 60px;
}

.final-star{
  display: none;
  margin: auto;
}
